<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new greenlight from Kevin!</p>

    <p>Hello, I am interested in investing into your company!</p>

    <p>kevin@gmail.com</p>
  </body>
</html>
